@import "tailwindcss";

@theme {
  --color-purple: #AC72FF;
  --color-navy: #170630;
  --color-lime: #D1F349;
  --font-family-outfit: 'Outfit', sans-serif;
}

@utility font-outfit {
  font-family: var(--font-family-outfit);
}